In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("dataset_mood_smartphone.csv")

In [15]:
df

        Unnamed: 0       id                     time        variable   value
0                1  AS14.01  2014-02-26 13:00:00.000            mood   6.000
1                2  AS14.01  2014-02-26 15:00:00.000            mood   6.000
2                3  AS14.01  2014-02-26 18:00:00.000            mood   6.000
3                4  AS14.01  2014-02-26 21:00:00.000            mood   7.000
4                5  AS14.01  2014-02-27 09:00:00.000            mood   6.000
...            ...      ...                      ...             ...     ...
376907     2770399  AS14.30  2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30  2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30  2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30  2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32  2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 5 columns]

In [17]:
# Convert 'time' column to datetime
df['time'] = pd.to_datetime(df['time'])

In [18]:
df

        Unnamed: 0       id                    time        variable   value
0                1  AS14.01 2014-02-26 13:00:00.000            mood   6.000
1                2  AS14.01 2014-02-26 15:00:00.000            mood   6.000
2                3  AS14.01 2014-02-26 18:00:00.000            mood   6.000
3                4  AS14.01 2014-02-26 21:00:00.000            mood   7.000
4                5  AS14.01 2014-02-27 09:00:00.000            mood   6.000
...            ...      ...                     ...             ...     ...
376907     2770399  AS14.30 2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30 2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30 2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30 2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32 2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 5 columns]

In [51]:
pivot_df = df.pivot_table(index=['id', 'date'], columns='variable', values='value', aggfunc='sum').reset_index()
aggregations = {
    'mood': 'mean',
    'circumplex.arousal': 'mean',
    'circumplex.valence': 'mean',
    'activity': 'mean',
    'screen': 'sum',
    'call': 'sum',
    'sms': 'sum',
    'appCat.builtin': 'sum',
    'appCat.communication': 'sum',
    'appCat.entertainment': 'sum',
    'appCat.finance': 'sum',
    'appCat.game': 'sum',
    'appCat.office': 'sum',
    'appCat.other': 'sum',
    'appCat.social': 'sum',
    'appCat.travel': 'sum',
    'appCat.unknown': 'sum',
    'appCat.utilities': 'sum',
    'appCat.weather': 'sum'
    }

    # Group by 'ID' and 'Date', and apply the aggregation functions
daily_aggregated_df = pivot_df.groupby(['id', 'date']).agg(aggregations).reset_index()

    # Drop rows where 'mood' is NaN
daily_aggregates = daily_aggregated_df.dropna(subset=['mood'])
daily_aggregates

variable,id,date,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,...,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather
7,AS14.01,2014-02-26,25.0,-1.0,3.0,NaN,0.000000,1.0,2.0,0.000,...,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8,AS14.01,2014-02-27,19.0,0.0,1.0,NaN,0.000000,0.0,0.0,0.000,...,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
26,AS14.01,2014-03-21,31.0,1.0,1.0,3.083152,17978.907000,6.0,0.0,3139.218,...,1007.456,49.544,0.0,172.206,239.751,4508.500,915.445,0.000,598.754,0.000
27,AS14.01,2014-03-22,32.0,3.0,2.0,3.790084,6142.161000,3.0,1.0,731.429,...,93.324,21.076,0.0,0.000,98.143,439.632,37.305,0.000,117.621,0.000
28,AS14.01,2014-03-23,34.0,1.0,4.0,2.141117,6773.832001,0.0,0.0,1286.246,...,94.346,43.403,0.0,0.000,72.823,900.839,0.000,0.000,30.086,30.386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,AS14.33,2014-05-27,31.0,-3.0,2.0,0.304902,4089.879001,1.0,2.0,726.391,...,124.694,0.000,0.0,0.000,142.686,2010.364,0.000,0.000,56.173,0.000
1969,AS14.33,2014-05-28,41.0,0.0,6.0,2.479228,14320.867998,10.0,1.0,2551.046,...,614.706,0.000,0.0,357.909,529.946,5361.211,0.000,0.000,30.666,0.000
1970,AS14.33,2014-05-29,21.0,-4.0,3.0,4.064507,3569.341000,5.0,1.0,400.034,...,136.738,0.000,0.0,0.000,29.202,1789.922,0.939,0.000,3.199,0.000
1971,AS14.33,2014-05-30,34.0,-4.0,-2.0,4.050925,9497.646999,4.0,0.0,3044.030,...,260.220,0.000,0.0,0.000,52.610,3166.409,1052.648,8.072,232.825,0.000
1972,AS14.33,2014-05-31,7.0,-2.0,1.0,NaN,0.000000,0.0,0.0,0.000,...,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [52]:
# Assuming 'df' is your DataFrame and 'variable' is a column in your DataFrame
score_vars = ['mood', 'circumplex.arousal', 'circumplex.valence']

# Filtering DataFrame for score variables
df_scores = df[df['variable'].isin(score_vars)]

# Filtering DataFrame for non-score variables
df_non_scores = df[~df['variable'].isin(score_vars)]

# Pivot with aggregation for scores
pivot_scores = df_scores.pivot_table(index=['id', 'date'], columns='variable', values='value', aggfunc='mean').reset_index()

# Pivot with aggregation for non-scores
pivot_non_scores = df_non_scores.pivot_table(index=['id', 'date'], columns='variable', values='value', aggfunc='sum').reset_index()

# Merge the two pivoted DataFrames on 'id' and 'date'
df_final = pd.merge(pivot_scores, pivot_non_scores, on=['id', 'date'], how='outer')

df_final

variable,id,date,circumplex.arousal,circumplex.valence,mood,activity,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,...,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather,call,screen,sms
0,AS14.01,2014-02-26,-0.25,0.750000,6.250000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0
1,AS14.01,2014-02-27,0.00,0.333333,6.333333,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AS14.01,2014-03-21,0.20,0.200000,6.200000,3.083152,3139.218,6280.890,1007.456,49.544,...,172.206,239.751,4508.500,915.445,NaN,598.754,NaN,6.0,17978.907000,NaN
3,AS14.01,2014-03-22,0.60,0.500000,6.400000,3.790084,731.429,4962.918,93.324,21.076,...,NaN,98.143,439.632,37.305,NaN,117.621,NaN,3.0,6142.161000,1.0
4,AS14.01,2014-03-23,0.20,0.800000,6.800000,2.141117,1286.246,5237.319,94.346,43.403,...,NaN,72.823,900.839,NaN,NaN,30.086,30.386,NaN,6773.832001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,AS14.33,2014-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
1969,AS14.33,2014-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,1.0
1970,AS14.33,2014-05-02,NaN,NaN,NaN,6.811849,726.646,NaN,NaN,NaN,...,NaN,55.167,NaN,NaN,NaN,80.278,NaN,2.0,862.981000,3.0
1971,AS14.33,2014-05-03,NaN,NaN,NaN,7.225123,12892.035,93.648,2.010,NaN,...,NaN,18.422,509.768,NaN,NaN,NaN,NaN,3.0,2491.060000,1.0
1972,AS14.33,2014-05-06,NaN,NaN,NaN,1.692647,1554.774,6864.139,723.581,NaN,...,NaN,NaN,6229.699,185.134,NaN,15.463,NaN,8.0,17911.275000,1.0

In [ ]:
score_variables = ['mood', 'circumplex.arousal', 'circumplex.valence']

# Replace NaN with 0 for non-score variables
for column in pivoted_df.columns:
    if column not in score_variables and column not in ['id', 'time']:
        pivoted_df[column] = pivoted_df[column].fillna(0)

# Display the first few rows to verify the changes
print(pivoted_df.head())

In [ ]:
daily_aggregates["date"].nunique()

In [ ]:
daily_aggregates